.background-clip{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
body {
    background-color: rgba(0,0,0,0.4);
    color:rgb(248, 247, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    text-shadow: 5px 3px 5px rgb(3, 3, 3);
}
div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-right: 5px;
}
h4{
    line-height: 0.1;
}
p{
    line-height: 0.1;
}